.App{
    overflow: hidden;
    
}
a{
    text-decoration: none;
}





@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Raleway:wght@400;500;600;700&display=swap');
body {
  margin:0px;
  padding: 0px;
  
 
  font-family: 'Montserrat', sans-serif;
 
}
:root {
    --main-color :#ffffff;
    --main-color-alt :#00b7ff
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
ul{
    list-style: none;
}
Link{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
}
