.pagination {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
  }
  
  .pagination button {
    margin-right: 0.5rem;
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 50%;
  }
  
  .pagination button:disabled {
    background-color: blue;
    color: #fff;
    cursor: not-allowed;
  }